body{
    background: #e95420 !important;
}


.btn-primary {
    color: #fff;
    background-color: #e95420;
    border-color: red;
}

.btn-primary:hover{
    color: #fff;
    background-color: red;
    border-color: red;
}


.btn-primary.focus,
.btn-primary:focus {
    color: #fff;
    background-color: red;
    border-color: red;;
    box-shadow: 0 0 0 .2rem rgba(233, 84, 32, .5) !important;
}


.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color:red;
    border-color: red
}
.nav-link:hover {
    color: black !important;
}