.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-caption h1 {
    color: white;
    text-shadow: 0 0 2px black;
    letter-spacing: 10px;
    margin-bottom: 30px;
}

.carousel-caption .btn {
    box-shadow: 0px 0px 3px #888888 !important;
    margin-bottom: 20px;
}

.carousel-caption .btn:hover {
    box-shadow: 0px 0px 6px black !important;
}

.carousel-caption .btn:focus {
    border: 1px solid black;
}

.navbar {
    background: #f2f2f2 !important;
    opacity: 0.9;
}

h2 {
    color: #333;
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    position: relative;
    margin: 25px 0 50px;
}

h2::after {
    content: "";
    width: 200px;
    position: absolute;
    margin: 0 auto;
    height: 3px;
    background: #e95420;
    left: 0;
    right: 0;
    bottom: -10px;
}

/* }
.display-3{
    color: #e95420 !important;
} */

h5 {
    color: #e95420 !important;
}

h5 {
    color: #e95420 !important;
}


body,
html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.bg-img {
    background-image: url(".././img/bg-reserve.jpg");
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Add styles to the form container-bgimg */
.bg-img .container-bgimg {
    position: relative;

    margin: 0 auto;
    max-width: 500px;
    padding: 16px;
    background-color: white;
    opacity: 0.95;
}

/* Full-width input fields */
.bg-img input[type=text],
.bg-img input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 5px;

}

.bg-img input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit button */
.bg-img .btn {
    background-color: #ff4444;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    margin-top: 5px;
    border: 1px solid red;
    border-radius: 5px;

}

.bg-img input[type=date],
.bg-img select {
    background-color: #b1b1b1;
    color: white;
    padding: 8px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    margin-top: 5px;
    text-align: center;
}

.bg-img .btn:hover {
    opacity: 1;
}

.divider {
    border-top: 1px solid lightgrey;
    width: 75%;
    margin: 0 auto;
}

footer a:hover {
    color: #ff4444 !important;
}

.nav-link:hover {
    color: black !important;
}


.btn-primary {
    color: #fff;
    background-color: #e95420;
    border-color: red;
}

.btn-primary:hover{
    color: #fff;
    background-color: #ff4444 ;
    border-color: red;
}


.btn-primary.focus,
.btn-primary:focus {
    color: #fff;
    border-color: red;;
    box-shadow: 0 0 0 .2rem rgba(233, 84, 32, .5) !important;
}



.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color:red;
    border-color: red
}

.bg-primary{
    background: #e95420 !important;
}
.border-primary{
    border: 1px solid #e95420 !important;
}
